# Git files
.git/
.gitignore

# Python compilation files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyBuilder
target/
.pybuilder/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment configurations
*.env

# IDE and Editor configurations
.vscode/
.idea/
*.swp
*.swo

# Docker files (Optional, sometimes omitted but good practice)
Dockerfile
.dockerignore
docker-compose.yml
